@charset "UTF-8";

.list-main{
    width: 100%;
    height:auto;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    
}
/* 배너 */
.banner-section{
    width: 100%;
    height: 180px;
    background-color: #343B3D;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

} 



.list-section{
    width: 1200px;
    height:1100px;
    display: grid;
    grid-template-rows:200px 200px 500px 200px ;
    margin: 0 auto;
}

.banner{
    margin-right: 370px;
    
} 

 #banner-title1{
    
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-align: right;
    margin-bottom:20px;
   
}

#banner-title2{
    color: white;
    font-size: x-large;
    font-weight: 900;
    
} 

/* 카테고리 */

.category-section{
    
    margin: 0 auto;
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    
}

.cateBtn{
    
    width: 114px;
    height: 50px;
    border: 2px solid lightgray;
    background-color: white;
    color:#5ECC80;
    font-size: large;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: 50px;

    

}


.search-window{
    
    margin: 0 auto;
    width: 800px;
    height: 180px;
    display: flex;
    align-items: flex-end;
    
    

}

.faqList{
    width: 1200px;
    height: 45px;
    display: flex;
    border-bottom: 1px solid lightgray;
   
   

}

.q-mark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    padding-left: 10px;
   

}
.green-circle2{
    width: 30px;
    height: 30px;
    background-color: #5ECC80;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
   

}
.category-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 200px;
   
}
.title-faq{
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 700px;
    line-height:50px;
    margin-left:50px;
   

}
.date-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 300px;
    margin-left: 350px;
   

}
.page-section{
   
    margin: 0 auto;
    width: 500px;
    height: 100px;
    margin-top:300px;
    

}
.list-section >.category-section {
    align-self: flex-end;
    margin-bottom:30px;
}

/* 검색창 */

.list-section >.search-window {
    align-self: center;
    
}

#search-box-faq{
    
    width: 550px;
    height: 50px;
    border: 3px solid gray;
    margin-left: 5px;
    margin-right: 5px;



}
.search-box{
    border: none;
    background-color: transparent;
	outline:none;
    width: 500px;
    height: 50px;

}
#searchBtn{
    
    width: 114px;
    height: 56px;
    background-color: #5ECC80;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.search-btn{
	background-color: #5ECC80;
	width:114px;
	height:50px;
	font-size:large;
	color:white;
	font-weight: 600;
	border:none;
}
#title-search{
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 3px solid gray;

}
select{
   
    width:100px ;
    height: 50px;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    border: none;
}

/* 리스트 */
.list-all{
	margin:0 auto;
    width: 1200px;
    height: 600px;
    border-top: 1px solid lightgray;
   

}
.faqList{
    width: 1200px;
    height: 45px;
    display: flex;
    border-bottom: 1px solid lightgray;
   
   

}

.category-faq{
    
    font-weight: 600;
    width: 100px;
   
}
.title-faq{
    
    font-weight: 600;
    width: 300px;
   

}
.date-faq{
    
    font-weight: 600;
    width: 200px;
   

}

.page-faq{
    width: 100%;
    height: 150px;
   

} 
.search-input{
	border:none;
	outline:none;
	font-size:medium;
	line-height:50px;
}

/*페이징  */

.page-question{
	margin:0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
	#page-nation{
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-top: 20px;
    }

    #page-nation li{
        display: inline;
        text-align: center;
        margin:0 10px;
      
    }
/* 페이지 버튼~ */
    #page-nation li a{
        text-decoration: none;
        color: #999999;
        font-size: 15px;
        font-family: var(--sans);
        

    }

    #page-nation .first:hover,  #page-nation .last:hover,  #page-nation .right:hover,  #page-nation .left:hover{
        color:#5ECC80;
    }


    #page-nation a:active{
        cursor: default;
        color: white;
    }

    #page-nation .num{
        padding: 0;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 100%;
        line-height: 30px;
         text-align: center;
    }

    #page-nation .num:hover{
        background-color: #5ECC80;
        color: white;
       
    }

    #page-nation .num:active{
        background-color: #5ECC80;
        cursor: pointer;
    }



