@charset "UTF-8";

.list-main{
    width:1200px;
    height:auto;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    
}
/*배너 */
.banner-section{
    height: 180px;
    background-color: #343B3D;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


}
.list-section{
    border:1px solid red;
    height:1000px;
    display: grid;
    grid-template-rows:200px 200px 500px 200px ;

}

.banner{
    margin-right: 100px;
}

.banner-title1{
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-align: right;
    margin-bottom:20px;
}

.banner-title2{
    color: white;
    font-size: x-large;
    font-weight: 900;
}

/* 카테고리 */

.category-section{
    
    margin: 0 auto;
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    
}


.list-categoryBtn{
    
    width: 114px;
    height: 50px;
    border-radius: 1rem;
    background-color: white;
    color: #5ECC80;
    border: 2px solid lightgray;
    font-size: large;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    

    

}

.search-window{
    
    margin: 0 auto;
    width: 600px;
    height: 80px;
    display: flex;
    align-items: flex-end;
    
    

}
.list-all{
    border:1px solid red;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    border-top: 2px solid lightgray;
    

}

.list-section >.category-section {
    align-self: flex-end;
    margin-bottom:30px;
}

/* 검색창 */

.list-section >.search-window {
    align-self: center;
    
}

#search-box{
   
    border:3px solid #535353;
    width: 350px;
    height: 45px;

}
.search{
    border: none;
    background-color: #5ECC80;
    color: white;
    font-size: large;
    font-weight: 600;
    width: 50px;
    height: 50px;}
#searchBtn{
    
    width: 114px;
    height: 50px;
    background-color: #5ECC80;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
    

}
#title-search{
    width: 145px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 10px;

}
select{
    
    width:100px ;
    height: 50px;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
    border:3px solid gray
}


/* 리스트 */



.page-write-section{
    width: 1200px ;
    height: 100px;
    border:1px solid red;
    display: flex;
}

.page-section{
    border:1px solid red;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    

}
.writeBtn-section{
    width: 100px;
    height: 50px;
    border-radius: 1rem;
    background-color: #5ECC80;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 10px;

}
.faqList{
    border-bottom: 2px solid lightgray;
    display: flex;


}
.q-mark{
    width: 50px;
    height: 48px;
    text-align: center;
    line-height: 48px;

}
.category-faq{
    width: 150px;
    height: 48px;
    text-align: center;
    line-height: 48px;

}
.title-faq{
    width: 700px;
    height: 48px;
    text-align: center;
    line-height: 48px;

}
.date-faq{
    width: 300px;
    height: 48px;
    text-align: center;
    line-height: 48px;

}
.write{
    border: none;
    background-color:  #5ECC80;
    color:white;
    font-size: medium;
    font-weight: 600;
    border-radius: 1rem;
    position:relative;
    left: 20px;
    top:10px;

    
}
