@charset "UTF-8";

.list-main{
   
    height:auto;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    
    
}
/* 로고 */
.banner-section{
    
    height: 180px;
    background-color: #343B3D;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.banner{
    padding-right: 100px;
}

#banner-title1{
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-align: right;
    margin-bottom:20px;
}

#banner-title2{
    color: white;
    font-size: x-large;
    font-weight: 900;
}
.faq-detail-list{
  	width:1200px;
    height:800px;
    display: grid;
    grid-template-rows:100px 100px 50px 400px 100px;
    transform: translate(50%,0);
    align-items:end;
}
.faq-sign{
    width: 100%;
    height: 100%;
    display: flex;

}
.line1{
    width: 100px;
    height: 100%;

}
.name-faq{
    width: 100px;
    height: 100%;
    font-size: xx-large;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line2{
    width: 990px;
    height: 100%;
}
.line-a{
    width: 100%;
    height: 50%;
    border-bottom:5px solid gray;
}
.line-b{
    width: 100%;
    height: 50%;
    border-bottom:5px solid gray;
}
.faq-title-date{
    width: 1200px;
    height: 50px;
    display: flex;
    border-bottom: 2px solid lightgray;

}
.categories{
	width:100px;
	height:50px;
	border: 2px solid lightgray;
	font-size:large;
	font-weight:600;
	
}

.category-faq{
    width: 120px;
    height: 100%;
    text-align: center;
    line-height: 130px;
}
.title-input{
	height: 45px;
	border:none;
	outline:none;
	
	
	
}
.title-faq{
    width: 780px;
    height: 100%;
    text-align: center;
    line-height: 130px;
   
}
.date-faq{
    width: 290px;
    height: 100%;
    text-align: center;
    line-height: 130px;
   

}
.faq-content{
    width: 100%;
    height: 400px;
   
    
}
.backBtn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-to{
    width: 100px;
    height: 50px;
    background-color: #5ECC80;
    color: white;
    font-weight: 600;
    
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
}
.faqWrite-input{
	border:none;
	width: 100px;
    height: 50px;
    background-color: #5ECC80;
    color: white;
    font-size:medium;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}
