<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="badgeMapper">

	<!--가입축하 뱃지 지급 -->
	<insert id="giveBadge" >
	INSERT INTO MEMBER_BADGE
	VALUES(SEQ_MEMBER_NO.CURRVAL,1)
	</insert>
	
	<!--관리자 뱃지 등록 -->
	<insert id="write" >
	INSERT INTO BADGE
	VALUES(SEQ_BADGE_NO.NEXTVAL,#{name},#{info},#{imgName})
	</insert>
	
	<!--관리자 뱃지 리스트 -->
	<select id="listSelectAll" resultType="BadgeVo">
	SELECT NO,NAME,INFO,IMG_PATH AS IMG_NAME,STATUS
	FROM BADGE
	<if test="status != null and status != ''">
		WHERE STATUS = '${status}'
	</if>
	
	<if test="keyword != null and keyword != ''">
		AND ${category} LIKE '%${keyword}%'
	</if>
	
	
	</select>
	
	<!--관리자 뱃지 상세 조회-->
	<select id="selectOne" resultType="BadgeVo">
	SELECT NO,NAME,INFO,IMG_PATH AS IMG_NAME
	FROM BADGE
	WHERE NO =${no}
	</select>
	
	
	<!--관리자 뱃지 수정-->
	<update id="edit">
	UPDATE BADGE 
	SET NAME=#{name}
		,INFO=#{info}
		<if test="imgName != null and imgName != ''">
		,IMG_PATH=#{imgName}
		</if>
		
	WHERE NO=#{no}
	</update>
	
	<!--관리자 뱃지 개수 확인 -->
	<select id="badgeCnt" resultType="Int">
	SELECT COUNT(*)
	FROM BADGE
	</select>
	
	<!-- 뱃지 비활성화 -->
	<update id="delete">
		UPDATE BADGE
		SET STATUS ='X'
		WHERE NO=#{no}
	</update>
	
	<!-- 뱃지 비활성화 -->
	<update id="able">
		UPDATE BADGE
		SET STATUS ='O'
		WHERE NO=#{no}
	</update>
	
	<!--회원용 뱃지 리스트 -->
	<select id="listSelectMember" resultType="BadgeVo">
	SELECT B.NO,B.NAME,B.INFO,B.IMG_PATH AS IMG_NAME,B.STATUS
	FROM BADGE B
	JOIN MEMBER_BADGE MB ON MB.BADGE_NO=B.NO
	WHERE B.STATUS='O'
	AND MB.M_NO=#{no}
	
	
	</select>
	
</mapper>