<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="badgeMapper">
	
	<!--뱃지 작성 -->
	<insert id="write">
	INSERT INTO BADGE
	VALUES(SEQ_BADGE_NO.NEXTVAL,#{name},#{info},#{imgName})
	</insert>
	
</mapper>