<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeBoardMapper">

	<insert id="write">
		INSERT INTO FREE_BOARD VALUES (
			SEQ_FREEBOARD_NO.NEXTVAL,
			#{cateNo},
			#{writer},
			#{title},
			#{content},
			SYSDATE,
			'N',
			SYSDATE,
			0
		)
	</insert>
	
	<update id="update">
		UPDATE FREE_BOARD SET 
		CATE_NO = #{cateNo}
		, TITLE = #{title}
		, CONTENT = #{content}
		, MODIFY_DATE = SYSDATE 
		WHERE NO = #{no}
	</update>
	
	<select id="selectList" resultType = "BoardVo">
		SELECT FB.*, FLH.*, (COALESCE(FLH.LIKES, 0) - COALESCE(FLH.HATES, 0)) AS LH_COUNT, M.*, FBC.*, CMT.count AS CMT_COUNT
		FROM FREE_BOARD FB
		LEFT JOIN (  SELECT  BOARD_NO,
		                SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES,
		                SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES
		        FROM FREE_BOARD_LIKE_HATE
		        GROUP BY BOARD_NO) FLH
		ON FB.NO = FLH.BOARD_NO
		JOIN (SELECT  NO, ID, NICK WRITER_NICK, IMG_PATH WRITER_IMG FROM MEMBER) M
		ON FB.WRITER = M.NO
		JOIN (SELECT NO, NAME CATE FROM FREE_BOARD_CATEGORY) FBC
		ON FBC.NO = FB.CATE_NO
		LEFT JOIN (SELECT BOARD_NO, COUNT(*) as COUNT FROM FREE_BOARD_CMT GROUP BY BOARD_NO) CMT
		ON FB.NO = CMT.BOARD_NO
		
		<if test = "cate != null and !cate.equals('')">
		WHERE FB.CATE_NO = #{cate}
		</if>
		<!-- 
		<if test = "search != null and !search.equals('') and cate.equals('')">
		WHERE WRITER_NICK LIKE '%#{search}%'
		</if>
		<if test = "search != null and !search.equals('') and cate != null and !cate.equals('')">
		WHERE FB.CATE_NO = #{cate}
		AND WRITER_NICK LIKE '%#{search}%'
		</if>
		<if test = "sort != null and !sort.equals('')">
		ORDER BY #{sort} DESC
		</if>
		<if test = "sort.equals('')">
		ORDER BY FB.NO DESC
		</if>
		-->
		ORDER BY FB.NO DESC
		
	</select>
	
	
	  <select id="selectMyList" resultType = "BoardVo">
		SELECT FB.*, FLH.*, (COALESCE(FLH.LIKES, 0) - COALESCE(FLH.HATES, 0)) AS LH_COUNT, M.*, FBC.*
		FROM FREE_BOARD FB
		LEFT JOIN (  SELECT  BOARD_NO,
		                SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES,
		                SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES
		        FROM FREE_BOARD_LIKE_HATE
		        GROUP BY BOARD_NO) FLH
		ON FB.NO = FLH.BOARD_NO
		JOIN (SELECT  NO, ID, NICK WRITER_NICK, IMG_PATH WRITER_IMG FROM MEMBER) M
		ON FB.WRITER = M.NO
		JOIN (SELECT NO, NAME CATE FROM FREE_BOARD_CATEGORY) FBC
		ON FBC.NO = FB.CATE_NO
		WHERE WRITER = #{userNo}
		ORDER BY FB.NO DESC
	</select>
	
	
	
	<select id="selectOne" resultType = "BoardVo">
		SELECT FB.*, FLH.*, (COALESCE(FLH.LIKES, 0) - COALESCE(FLH.HATES, 0)) AS LH_COUNT, M.*, FBC.*
		FROM FREE_BOARD FB
		LEFT JOIN (  SELECT  BOARD_NO,
		                SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES,
		                SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES
		        FROM FREE_BOARD_LIKE_HATE
		        GROUP BY BOARD_NO) FLH
		ON FB.NO = FLH.BOARD_NO
		JOIN (SELECT  NO, ID, NICK WRITER_NICK, IMG_PATH WRITER_IMG FROM MEMBER) M
		ON FB.WRITER = M.NO
		JOIN (SELECT NO, NAME CATE FROM FREE_BOARD_CATEGORY) FBC
		ON FBC.NO = FB.CATE_NO
		WHERE FB.NO = #{bno}
		ORDER BY FB.NO
	</select>
	
	<update id="updateHit">
		UPDATE FREE_BOARD
		SET HIT = HIT + 1
		WHERE NO = #{bno}
	</update>
	
	<select id="selectCmtList" resultType = "CmtVo">
		SELECT fbc.*, NVL(lh.L_COUNT,0) AS LIKES, NVL(lh.H_COUNT,0) AS HATES, m.NICK as WRITER_NICK, m.IMG_PATH as WRITER_IMG
		FROM FREE_BOARD_CMT fbc
		LEFT JOIN (
		  SELECT CMT_NO,
		         SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS L_COUNT,
		         SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS H_COUNT
		  FROM FREE_BOARD_CMT_LIKE_HATE
		  GROUP BY CMT_NO
		) lh ON fbc.NO = lh.CMT_NO
		JOIN MEMBER m ON fbc.WRITER = m.NO
		WHERE fbc.BOARD_NO = #{bno}
		ORDER BY fbc."GROUP" ASC, fbc.MODIFY_DATE ASC
	</select>
	
	<insert id="insertCmt">
		INSERT INTO FREE_BOARD_CMT VALUES (
			SEQ_FREEBOARD_CMT_NO.NEXTVAL,
			#{boardNo},
			#{writer},
			#{content},
			SYSDATE,
			'N',
			SYSDATE,
			<if test = "group.equals('')">0</if>
			<if test = "group != null and !group.equals('')">1</if>
			,
			<if test= "group.equals('')">
			SEQ_FREEBOARD_CMT_NO.NEXTVAL
			</if>
			<if test = "group != null and !group.equals('')">
			#{group}
			</if>
		)
	</insert>
	
	<select id="selectCateList" resultType = "com.learntime.app.community.vo.CateVo">
		SELECT * FROM FREE_BOARD_CATEGORY 
		ORDER BY NO ASC
	</select>
	
	<insert id="insertCategory">
		INSERT INTO FREE_BOARD_CATEGORY VALUES (SEQ_FREEBOARD_CATEGORY_NO.NEXTVAL, #{cateName})
	</insert>
	
	<select id="selectLHS" resultType = "com.learntime.app.community.vo.LHSVo">
		SELECT lh.M_NO, s.M_NO, COALESCE(lh.BOARD_NO, s.BOARD_NO) as BOARD_NO, COALESCE(lh.STATUS, 'null') as STATUS,
		       CASE WHEN s.BOARD_NO IS NOT NULL THEN 'true' ELSE 'false' END as SCRAP
		FROM FREE_BOARD_LIKE_HATE lh
		FULL OUTER JOIN FREE_BOARD_SCRAP s
		ON lh.BOARD_NO = s.BOARD_NO
		WHERE lh.M_NO = #{userNo} OR s.M_NO = #{userNo}
		<if test ="boardNo != null">AND s.BOARD_NO = #{boardNo} OR lh.BOARD_NO = #{boardNo}</if>
	</select>
	
	<insert id="insertScrap">
		INSERT INTO FREE_BOARD_SCRAP VALUES (#{userNo}, #{boardNo})
	</insert>
	
	<delete id="deleteScrap">
		DELETE FROM FREE_BOARD_SCRAP WHERE M_NO = #{userNo} AND BOARD_NO = #{boardNo}
	</delete>
	
	<select id="selectScrap" resultType = "com.learntime.app.community.vo.LHSVo">
		SELECT * FROM FREE_BOARD_SCRAP WHERE M_NO = #{userNo} AND BOARD_NO = #{boardNo}
	</select>
	
	
	<select id="selectScrapList" resultType = "BoardVo">
		SELECT *
		FROM FREE_BOARD FB
		LEFT JOIN (  SELECT  BOARD_NO,
		                    SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES,
		                    SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES
		            FROM FREE_BOARD_LIKE_HATE
		            GROUP BY BOARD_NO) FLH
		ON FB.NO = FLH.BOARD_NO
		JOIN (SELECT  NO, ID, NICK WRITER_NICK, IMG_PATH WRITER_IMG FROM MEMBER) M
		ON FB.WRITER = M.NO
		JOIN (SELECT NO, NAME CATE FROM FREE_BOARD_CATEGORY) FBC
		ON FBC.NO = FB.CATE_NO
		LEFT JOIN (SELECT BOARD_NO SCRAP FROM FREE_BOARD_SCRAP WHERE M_NO = #{userNo}) FBS
		ON FB.NO = FBS.SCRAP
		WHERE FBS.SCRAP IS NOT NULL
		ORDER BY FB.NO DESC
	</select>
	

</mapper>

























