<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeBoardMapper">

	<insert id="write">
		INSERT INTO FREE_BOARD VALUES 
		(
			seq_freeboard_no.nextval,
			#{cateNo},
			1,
			#{title},
			#{content},
			SYSDATE,
			'N',
			SYSDATE,
			0
		)

	</insert>
	
	<select id="selectList" resultType = "BoardVo">
		SELECT * FROM FREE_BOARD FB
		JOIN (  SELECT  BOARD_NO,
		                SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES,
		                SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES
		        FROM FREE_BOARD_LIKE_HATE
		        GROUP BY BOARD_NO) FLH
		ON FB.NO = FLH.BOARD_NO
		JOIN (SELECT  NO, ID, NICK WRITER_NICK, IMG_PATH WRITER_IMG FROM MEMBER) M
		ON FB.WRITER = M.NO
		ORDER BY FB.NO
	</select>
	
	<select id="selectOne" resultType = "BoardVo">
		SELECT * FROM FREE_BOARD FB
		JOIN (  SELECT  BOARD_NO,
		                SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES,
		                SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES
		        FROM FREE_BOARD_LIKE_HATE
		        GROUP BY BOARD_NO) FLH
		ON FB.NO = FLH.BOARD_NO
		JOIN (SELECT  NO, ID, NICK WRITER_NICK, IMG_PATH WRITER_IMG FROM MEMBER) M
		ON FB.WRITER = M.NO
		WHERE FB.NO = #{bno}
		ORDER BY FB.NO
	</select>

</mapper>