<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeBoardMapper">

	<insert id="write">
		INSERT INTO FREE_BOARD VALUES 
		(
			seq_freeboard_no.nextval,
			#{cateNo},
			1,
			#{title},
			#{content},
			SYSDATE,
			'N',
			SYSDATE,
			0
		)

	</insert>
	
	<select id="selectList" resultType = "com.learntime.app.community.vo.BoardVo">
		SELECT * FROM FREE_BOARD
	
	</select>

</mapper>