<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainMapper">	

	<select id="selectNoticeList" resultType="map">
		SELECT N.NO, N.TITLE, C.NAME
		FROM NOTICE N
		JOIN COMMON_CATEGORY C ON N.CATE_NO = C.NO
		WHERE N.DELETE_YN = 'N'
	</select>
	<select id="selectLearningList" resultType="map">
		SELECT K.NO, C.NAME AS CATE_NO, K.TITLE, TO_CHAR(K.CONTENT) CONTENT, M.NICK AS WRITER, K.HIT, TO_CHAR(CAST(K.ENROLL_DATE as DATE),'YYYY.MM.DD') ENROLL_DATE, M.IMG_PATH, NVL(REPLY_CNT,0) REPLY_CNT, NVL(LIKES,0) LIKES FROM KNOWLEDGE_QUESTION K
		JOIN MEMBER M ON K.WRITER = M.NO
		JOIN KNOWLEDGE_CATEGORY C ON K.CATE_NO = C.NO
		LEFT JOIN (SELECT Q_NO, COUNT(*) REPLY_CNT FROM KNOWLEDGE_ANSWER WHERE DELETE_YN = 'N' AND DEPTH = '0' GROUP BY Q_NO) A ON K.NO = A.Q_NO
		LEFT JOIN (SELECT NO, SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES FROM KNOWLEDGE_LIKE_HATE GROUP BY NO) L ON K.NO = L.NO
		WHERE K.DELETE_YN = 'N'
	</select>
	<select id="selectPopularLearningList" resultType="map">
		SELECT K.NO, C.NAME AS CATE_NO, K.TITLE, TO_CHAR(K.CONTENT) CONTENT, M.NICK AS WRITER, K.HIT, TO_CHAR(CAST(K.ENROLL_DATE as DATE),'YYYY.MM.DD') ENROLL_DATE, M.IMG_PATH, NVL(REPLY_CNT,0) REPLY_CNT, NVL(LIKES,0) LIKES FROM KNOWLEDGE_QUESTION K
		JOIN MEMBER M ON K.WRITER = M.NO
		JOIN KNOWLEDGE_CATEGORY C ON K.CATE_NO = C.NO
		LEFT JOIN (SELECT Q_NO, COUNT(*) REPLY_CNT FROM KNOWLEDGE_ANSWER WHERE DELETE_YN = 'N' AND DEPTH = '0' GROUP BY Q_NO) A ON K.NO = A.Q_NO
		LEFT JOIN (SELECT NO, SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES FROM KNOWLEDGE_LIKE_HATE GROUP BY NO) L ON K.NO = L.NO
		WHERE K.DELETE_YN = 'N'	
	</select>

</mapper>