<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="makegrassMapper">
	<insert id="insertMakegrass">
		INSERT INTO MAKE_GRASS
		(NO, WRITER, TITLE, CONTENT, LEARN_TIME, ENROLL_DATE, DELETE_YN, MODIFY_DATE, HIT)
		VALUES
		(SEQ_MAKE_GRASS_NO.NEXTVAL, #{writer}, #{title}, #{content}, #{learnTime}, SYSDATE, 'N', SYSDATE, '0')
	</insert>
	
	<insert id="insertTag">
		INSERT INTO TAG (NO, NAME)
	    SELECT SEQ_TAG_NO.NEXTVAL, A FROM
        (
        <foreach collection="array" item="tag" separator="UNION ALL">
        	SELECT #{tag} AS A FROM DUAL WHERE NOT EXISTS (SELECT NAME FROM TAG WHERE NAME = #{tag})
        </foreach>
        )
	</insert>
	
	<insert id="insertMakegrassTag">
		INSERT INTO MG_TAG (MG_NO, TAG_NO)
		SELECT (SELECT NO FROM MAKE_GRASS ORDER BY NO DESC OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY), A FROM
		(
		<foreach collection="array" item="tag" separator="UNION ALL">
		    SELECT (SELECT NO FROM TAG WHERE NAME = #{tag}) AS A FROM DUAL
    	</foreach>
		)
	</insert>
	
	<select id="selectList" resultType="map">
		SELECT G.NO, G.TITLE, TO_CHAR(G.CONTENT) CONTENT, G.LEARN_TIME, TO_CHAR(CAST(G.ENROLL_DATE as DATE),'YYYY.MM.DD') ENROLL_DATE, G.HIT, M.NICK AS WRITER, NVL(REPLY_CNT,0) REPLY_CNT FROM MAKE_GRASS G
		JOIN MEMBER M ON G.WRITER = M.NO
		LEFT JOIN (SELECT MG_NO, COUNT(*) REPLY_CNT FROM MG_CMT WHERE DELETE_YN = 'N' GROUP BY MG_NO) C ON G.NO = C.MG_NO
		WHERE G.DELETE_YN = 'N'
		ORDER BY G.NO DESC
	</select>
	
	<select id="makegrassLankList" resultType="map">
		SELECT M.IMG_PATH, M.NICK, COUNT(G.NO) CNT
		FROM MAKE_GRASS G
		JOIN MEMBER M ON G.WRITER = M.NO
		GROUP BY (M.NICK, M.IMG_PATH)
		ORDER BY CNT DESC FETCH NEXT 7 ROWS ONLY
	</select>
	
	<select id="detail" resultType="map">
		SELECT A.NO, M.NICK AS WRITER, A.TITLE, A.LEARN_TIME, TO_CHAR(A.CONTENT) CONTENT, TO_CHAR(CAST(A.ENROLL_DATE as DATE),'YYYY.MM.DD')ENROLL_DATE, A.HIT, NVL(REPLY_CNT,0) REPLY_CNT, NVL(LIKES,0) LIKES, NVL(HATES,0) HATES FROM MAKE_GRASS A
		JOIN MEMBER M ON A.WRITER = M.NO
		LEFT JOIN (SELECT MG_NO, COUNT(*) REPLY_CNT FROM MG_CMT WHERE DELETE_YN = 'N' GROUP BY MG_NO) C ON A.NO = C.MG_NO
		LEFT JOIN (SELECT MG_NO, SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES, SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES FROM MG_LIKE_HATE GROUP BY MG_NO) L ON A.NO = L.MG_NO
		WHERE A.NO = #{ano}
	</select>
	
	<select id="selectTagList" resultType="map">
		SELECT T.NO, T.NAME, M.MG_NO, M.TAG_NO FROM MG_TAG M
		JOIN TAG T ON M.TAG_NO = T.NO
		WHERE M.MG_NO = #{ano}
	</select>
	
	<update id="delete">
		UPDATE MAKE_GRASS SET
		DELETE_YN = 'Y'
		WHERE NO = #{mno}
	</update>
	
	<update id="updateHit">
		UPDATE MAKE_GRASS SET
		HIT = HIT + 1
		WHERE NO = #{no}
	</update>
	
	<update id="edit">
		UPDATE MAKE_GRASS SET
		TITLE = #{title}
		, CONTENT = #{content}
		, LEARN_TIME = #{learnTime}
		, MODIFY_DATE = SYSDATE
		WHERE NO = #{no}
	</update>
	
	<select id="followingList" resultType="map">
		SELECT F.NO, M.NICK AS FOLLOWING_NO, F.FOLLOWER_NO FROM FOLLOW F
		JOIN MEMBER M ON F.FOLLOWING_NO = M.NO
		WHERE F.FOLLOWER_NO = #{mno}
	</select>
	
	<select id="mypageList" resultType="map">
		SELECT G.NO, G.TITLE, TO_CHAR(G.CONTENT) CONTENT, G.LEARN_TIME, TO_CHAR(CAST(G.ENROLL_DATE as DATE),'YYYY.MM.DD') ENROLL_DATE, G.HIT, M.NICK AS WRITER FROM MAKE_GRASS G
		JOIN MEMBER M ON G.WRITER = M.NO
		WHERE G.DELETE_YN = 'N'
		AND G.WRITER = #{no}
		ORDER BY G.NO DESC
	</select>
	
</mapper>