<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="makegrassMapper">
	<insert id="insertMakegrass">
		INSERT INTO MAKE_GRASS
		(NO, WRITER, TITLE, CONTENT, LEARN_TIME, ENROLL_DATE, DELETE_YN, MODIFY_DATE, HIT)
		VALUES
		(SEQ_MAKE_GRASS_NO.NEXTVAL, #{writer}, #{title}, #{content}, #{learnTime}, SYSDATE, 'N', SYSDATE, '0')
	</insert>
	
	<insert id="insertTag">
		INSERT INTO TAG (NO, NAME)
	    SELECT SEQ_TAG_NO.NEXTVAL, A FROM
        (
        <foreach collection="array" item="tag" separator="UNION ALL">
        	SELECT #{tag} AS A FROM DUAL WHERE NOT EXISTS (SELECT NAME FROM TAG WHERE NAME = #{tag})
        </foreach>
        )
	</insert>
	
	<insert id="insertKnowledgeTag">
		INSERT INTO MG_TAG (MG_NO, TAG_NO)
		SELECT (SELECT NO FROM MAKE_GRASS ORDER BY NO DESC OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY), A FROM
		(
		<foreach collection="array" item="tag" separator="UNION ALL">
		    SELECT (SELECT NO FROM TAG WHERE NAME = #{tag}) AS A FROM DUAL
    	</foreach>
		)
	</insert>
	
	<select id="selectList" resultType="com.learntime.app.makegrass.vo.MakegrassVo">
		SELECT G.NO, G.TITLE, G.CONTENT, G.LEARN_TIME, G.ENROLL_DATE, G.HIT, M.NICK AS WRITER FROM MAKE_GRASS G
		JOIN MEMBER M ON G.WRITER = M.NO
		WHERE G.DELETE_YN = 'N'
	</select>
	
	<select id="detail" resultType="com.learntime.app.makegrass.vo.MakegrassVo">
		SELECT A.NO, M.NICK AS WRITER, A.TITLE, A.CONTENT, A.ENROLL_DATE, A.HIT FROM MAKE_GRASS A
		JOIN MEMBER M ON A.WRITER = M.NO
		WHERE A.NO = #{no}
	</select>
	
	<update id="delete">
		UPDATE MAKE_GRASS SET
		DELETE_YN = 'Y'
		WHERE NO = #{mno}
	</update>
	
</mapper>