<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="managerMapper">

	<!--로그인  -->
	<select id="login" resultType = "ManagerVo">
		<if test="id != null and !('').equals(id) or pwd != null and !('').equals(pwd)">
			SELECT A.NO, A.ID, A.PWD, A.NICK, A.IMG_PATH, A.DELETE_YN
			FROM ADMIN A
			WHERE A.ID = #{id}
			AND DELETE_YN = 'N'
		</if>
	</select>
	
	<!--회원가입  -->
	<insert id="join">
		INSERT INTO ADMIN (NO, ID, PWD, NICK)
		VALUES(SEQ_ADMIN_NO.NEXTVAL, #{id}, #{pwd}, #{nick})
	</insert>
	
	<!--닉네임 중복 체크  -->
	<select id="nickCheck" resultType = "Int">
		 SELECT COUNT(*)
		 FROM ADMIN
		 WHERE NICK = #{nick}
		 <if test="no != null and no != ''">
		AND NO NOT IN(${no})
		</if>
	</select>
	
	<!--이메일 중복 체크  -->
	<select id="emailCheck" resultType = "Int">
		 SELECT COUNT(*)
		 FROM ADMIN
		 WHERE ID = #{id}
		<if test="no != null and no != ''">
		    AND NO NOT IN(#{no})
		</if>
	</select>
	<insert id="insertIp">
		INSERT INTO ADMIN_LOGIN
		VALUES (SEQ_ADMIN_LOGIN_NO.NEXTVAL, #{no}, SYSDATE, #{accessIp}, #{loginYn})
	</insert>
	<update id="updateProfile">
		UPDATE ADMIN SET
		IMG_PATH = #{changeName},
		NICK = #{name}
		WHERE NO = #{no}
	</update>
	<select id="selectManagerList" resultType="map">
		SELECT *
		FROM ADMIN
		WHERE NO LIKE '%%'
		<if test="'N'.equals(deleteYn)">
			AND DELETE_YN = 'N'
		</if>
		<if test="keyword != null and 'nick'.equals(category)">
			AND NICK LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'id'.equals(category)">
			AND ID LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'delete'.equals(status)">
			AND DELETE_YN = 'Y' 
		</if>
		<if test="keyword != null and 'enable'.equals(status)">
			AND DELETE_YN = 'N' 
		</if>
		ORDER BY NO DESC
	</select>
	<select id="selectManagerCnt" resultType="Int">
		SELECT COUNT(*)
		FROM ADMIN
		WHERE NO LIKE '%%'
		<if test="'N'.equals(deleteYn)">
			AND DELETE_YN = 'N'
		</if>
		<if test="keyword != null and 'nick'.equals(category)">
			AND NICK LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'id'.equals(category)">
			AND ID LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'delete'.equals(status)">
			AND DELETE_YN = 'Y' 
		</if>
		<if test="keyword != null and 'enable'.equals(status)">
			AND DELETE_YN = 'N' 
		</if>
		ORDER BY NO DESC
	</select>
	<select id="selectOperatorList" resultType="map">
		SELECT * 
		FROM MEMBER
		WHERE ADMIN_YN = 'Y'
	</select>
	<select id="masterLogin" resultType="ManagerVo">
		SELECT *
		FROM ADMIN
		WHERE ID = #{id} AND PWD = #{pwd}
	</select>
	<update id="deleteManager">
		UPDATE ADMIN SET
		DELETE_YN = 'Y'
		WHERE NO = #{no}
	</update>
	<select id="selectManagerLogList" resultType="map">
		SELECT L.NO, ACCESS_TIME, ACCESS_IP, LOGIN_YN, ID, NICK
		FROM ADMIN_LOGIN L
		JOIN ADMIN A ON L.A_NO = A.NO
		WHERE L.NO LIKE '%%'
		<if test="keyword != null and 'nick'.equals(category)">
			AND NICK LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'id'.equals(category)">
			AND ID LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'login'.equals(status)">
			AND LOGIN_YN = 'Y' 
		</if>
		<if test="keyword != null and 'logout'.equals(status)">
			AND LOGIN_YN = 'N' 
		</if>
		
		ORDER BY L.NO DESC
	</select>
	<select id="selectManagerLogCnt" resultType="Int">
		SELECT COUNT(*)
		FROM ADMIN_LOGIN L
		JOIN ADMIN A ON L.A_NO = A.NO
		
		WHERE L.NO LIKE '%%'
		<if test="keyword != null and 'nick'.equals(category)">
			AND NICK LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'id'.equals(category)">
			AND ID LIKE '%${keyword}%'		
		</if>
		<if test="keyword != null and 'login'.equals(status)">
			AND LOGIN_YN = 'Y' 
		</if>
		<if test="keyword != null and 'logout'.equals(status)">
			AND LOGIN_YN = 'N' 
		</if>
		ORDER BY L.NO DESC
	</select>
</mapper>