<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	
	<select id="login" resultType = "MemberVo">
		 SELECT *
		  FROM MEMBER
		  WHERE ID = #{id}
	
	</select>
	
	<insert id="join">
	
	INSERT INTO MEMBER(ID,PWD,NICK,ENROLL_DATE)
	VALUES(#{id},#{pwd},#{nick},SYSDATE)
	
	</insert>

</mapper>