<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<insert id="noticeWrite">
  		INSERT INTO NOTICE (NO, CATE_NO,WRITER,TITLE,CONTENT,ENROLL_DATE,
  		DELETE_YN,MODIFY_DATE,STATUS) 
		VALUES(SEQ_NOTICE_NO.NEXTVAL,#{cateNo},1,#{title},
		#{content}, SYSDATE,'N',SYSDATE,#{status})
  </insert>
  <select id="noticeList">
  	SELECT C.NAME,N.TITLE,N.ENROLL_DATE N.HIT, M.NICK FROM NOTICE N 
  	JOIN COMMON_CATEGORY C ON N.CATE_NO= C.NO JOIN MEMBER M ON M.NO = N.WRITER
  </select>
  <select id="selectCount">
  	SELECT COUNT(*)FROM NOTICE
  </select>
	
</mapper>