<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

    <insert id="noticeWrite">
          INSERT INTO NOTICE (NO, CATE_NO,WRITER,TITLE,CONTENT,ENROLL_DATE,
          DELETE_YN,MODIFY_DATE,HIT,STATUS) 
        VALUES(SEQ_NOTICE_NO.NEXTVAL,#{cateNo},#{writer},#{title},
        #{content}, SYSDATE,'N',SYSDATE,0,#{status})
  </insert>
  <select id="noticeList" resultType="com.learntime.app.notice.vo.NoticeVo">
      SELECT * FROM
 	 (SELECT N.NO,N.CATE_NO, C.NAME as CATE_NAME,N.TITLE,N.ENROLL_DATE, N.HIT, M.NICK AS WRITER,N.CATEGORY,N.KEYWORD FROM NOTICE N 
      JOIN COMMON_CATEGORY C ON N.CATE_NO= C.NO JOIN MEMBER M ON M.NO = N.WRITER
      WHERE STATUS = 2 AND CATE_NO = #{vo.cateNo} AND DELETE_YN = 'N' ) WHERE ROWNUM<![CDATA[<=]]>3
        
      UNION  
      SELECT N.NO,N.CATE_NO,C.NAME as CATE_NAME,N.TITLE,N.ENROLL_DATE, N.HIT, M.NICK AS WRITER ,N.CATEGORY,N.KEYWORD  FROM NOTICE N 
      JOIN COMMON_CATEGORY C ON N.CATE_NO= C.NO JOIN MEMBER M ON M.NO = N.WRITER
      WHERE CATE_NO = ${vo.cateNo} AND DELETE_YN = 'N'
      <if test="vo.keyword !=null and vo.keyword != ''">
		AND  ${vo.category} LIKE '%${vo.keyword}%' 
	  </if>
  </select>
  <select id="noticeListAll" resultType="com.learntime.app.notice.vo.NoticeVo">
        SELECT * FROM
 	 (SELECT N.NO,N.CATE_NO, C.NAME as CATE_NAME,N.TITLE,N.ENROLL_DATE, N.HIT, M.NICK AS WRITER,N.CATEGORY,N.KEYWORD,N.STATUS FROM NOTICE N 
      JOIN COMMON_CATEGORY C ON N.CATE_NO= C.NO JOIN MEMBER M ON M.NO = N.WRITER
      WHERE STATUS = 2 AND DELETE_YN = 'N' ) WHERE ROWNUM <![CDATA[<= ]]>3
        
      UNION
      SELECT N.NO,N.CATE_NO,C.NAME as CATE_NAME,N.TITLE,N.ENROLL_DATE, N.HIT, M.NICK AS WRITER ,N.CATEGORY,N.KEYWORD ,N.STATUS FROM NOTICE N 
      JOIN COMMON_CATEGORY C ON N.CATE_NO= C.NO JOIN MEMBER M ON M.NO = N.WRITER
      WHERE DELETE_YN = 'N'
     
	<if test="vo.keyword !=null and vo.keyword != ''">
	  AND ${vo.category} LIKE '%${vo.keyword}%' 
	</if>
     
  </select>
  <select id="selectCount" resultType="int">
      SELECT COUNT(*) FROM NOTICE
  </select>
  <select id="selectCmtCnt" resultType="int">
  	SELECT COUNT(*) FROM NOTICE_CMT
  
  </select>
  <update id="updateHit">
		UPDATE NOTICE
		SET HIT = HIT + 1
		WHERE NO = #{no}
	</update>

	<select id="selectOne" resultType="com.learntime.app.notice.vo.NoticeVo">
  	SELECT M.NICK AS WRITER ,N.ENROLL_DATE,N.HIT,C.NAME as CATE_NAME,N.TITLE,N.CONTENT 
  	FROM NOTICE N 
    JOIN COMMON_CATEGORY C ON N.CATE_NO= C.NO JOIN MEMBER M ON M.NO = N.WRITER WHERE
    N.NO = #{no}
  </select>
  <insert id="insertCmt">
  	INSERT INTO NOTICE_CMT
  	VALUES (SEQ_NOTICE_CMT_NO.NEXTVAL, #{nNo},#{writer},SYSDATE,'N',SYSDATE,#{content},1,1)
  </insert>
 <select id="selectCmtList" resultType="com.learntime.app.notice.vo.NoticeCmtVo">
 	SELECT N.NO AS N_NO, M.NICK AS WRITER,C.ENROLL_DATE,C.DELETE_YN,C.MODIFY_DATE,
 	C.CONTENT FROM NOTICE_CMT C JOIN NOTICE N ON C.N_NO = N.NO JOIN
 	MEMBER M ON M.NO=C.WRITER WHERE C.N_NO = #{nNo}
 </select>
  
 
</mapper>