<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">
	<insert id="write">
		INSERT INTO KNOWLEDGE_QUESTION
		(
		    NO
		    , WRITER
		    , CATE_NO
		    , TITLE
		    , CONTENT
		    , ENROLL_DATE
		    , DELETE_YN
		    , MODIFY_DATE
		    , HIT
		)
		VALUES
		(
		    SEQ_KNOWLEDGE_QUESTION_NO.NEXTVAL
		    , '1'
		    , #{cateNo}
		    , #{title}
		    , #{content}
		    , SYSDATE
		    , 'N'
		    , SYSDATE
		    , #{hit}
		)
	</insert>
	
	<insert id="insertTag">
		INSERT INTO TAG
		(
		    NO
		    , NAME
		)
		VALUES
		(
		    SEQ_TAG_NO.NEXTVAL
		    , #{tag}
		);
		
		SELECT * FROM TAG
	</insert>
	
</mapper>