<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<insert id="write">
		INSERT INTO KNOWLEDGE_QUESTION
		(
		    NO
		    , WRITER
		    , CATE_NO
		    , TITLE
		    , CONTENT
		    , ENROLL_DATE
		    , DELETE_YN
		    , MODIFY_DATE
		    , HIT
		)
		VALUES
		(
		    SEQ_KNOWLEDGE_QUESTION_NO.NEXTVAL
		    , #{writer}
		    , #{cateNo}
		    , #{title}
		    , #{content}
		    , SYSDATE
		    , 'N'
		    , SYSDATE
		    , '0'
		)
	</insert>
	
	<insert id="insertTag">
		INSERT INTO TAG (NO, NAME)
		SELECT SEQ_TAG_NO.NEXTVAL, A FROM
		(
		<foreach collection="array" item="arr" separator="UNION ALL">
		SELECT #{arr} AS A FROM DUAL WHERE NOT EXISTS (SELECT NAME FROM TAG WHERE NAME = #{arr})
		</foreach>
		)
	</insert>
	
	<insert id="insertKnowledgeTag">
		INSERT INTO KNOWLEDGE_TAG (A_NO, TAG_NO)
		SELECT (SELECT NO FROM KNOWLEDGE_QUESTION ORDER BY NO DESC OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY), A FROM
		(
		<foreach collection="array" item="arr" separator="UNION ALL">
		    SELECT (SELECT NO FROM TAG WHERE NAME = #{arr}) AS A FROM DUAL
    	</foreach>
		)
	</insert>
	
	
	<select id="selectList" resultType="com.learntime.app.qna.vo.QnaVo">
		SELECT Q.NO, Q.TITLE, Q.CONTENT, Q.ENROLL_DATE, Q.HIT, M.NICK AS WRITER FROM KNOWLEDGE_QUESTION Q
		JOIN MEMBER M
		ON Q.WRITER = M.NO
		WHERE Q.WRITER = #{writer}
	</select>
	
</mapper>