<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<insert id="write">
		INSERT INTO KNOWLEDGE_QUESTION
		(
		    NO
		    , WRITER
		    , CATE_NO
		    , TITLE
		    , CONTENT
		    , ENROLL_DATE
		    , DELETE_YN
		    , MODIFY_DATE
		    , HIT
		)
		VALUES
		(
		    SEQ_KNOWLEDGE_QUESTION_NO.NEXTVAL
		    , #{writer}
		    , #{cateNo}
		    , #{title}
		    , #{content}
		    , SYSDATE
		    , 'N'
		    , SYSDATE
		    , '0'
		)
	</insert>
	
	<insert id="insertTag">
		INSERT INTO TAG (NO, NAME)
		SELECT SEQ_TAG_NO.NEXTVAL, A FROM
		(
		    <foreach collection="array" item="arr" separator="UNION ALL">
		    SELECT #{arr} AS A FROM DUAL WHERE NOT EXISTS (SELECT NAME FROM TAG WHERE NAME = #{arr})
		    </foreach>
		)
	</insert>
	
	<insert id="insertKnowledgeTag">
		INSERT INTO KNOWLEDGE_TAG (A_NO, TAG_NO)
		SELECT (SELECT NO FROM KNOWLEDGE_QUESTION ORDER BY NO DESC OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY), A FROM
		(
		<foreach collection="array" item="arr" separator="UNION ALL">
		    SELECT (SELECT NO FROM TAG WHERE NAME = #{arr}) AS A FROM DUAL
    	</foreach>
		)
	</insert>
	
	<select id="selectList" resultType="map">
		SELECT K.NO, C.NAME AS CATE_NO, K.TITLE, TO_CHAR(K.CONTENT) CONTENT, M.NICK AS WRITER, K.HIT, TO_CHAR(CAST(K.ENROLL_DATE as DATE),'YYYY.MM.DD') ENROLL_DATE, M.IMG_PATH, NVL(REPLY_CNT,0) REPLY_CNT, NVL(LIKES,0) LIKES FROM KNOWLEDGE_QUESTION K
		JOIN MEMBER M ON K.WRITER = M.NO
		JOIN KNOWLEDGE_CATEGORY C ON K.CATE_NO = C.NO
		LEFT JOIN (SELECT Q_NO, COUNT(*) REPLY_CNT FROM KNOWLEDGE_ANSWER WHERE DELETE_YN = 'N' AND DEPTH = '0' GROUP BY Q_NO) A ON K.NO = A.Q_NO
		LEFT JOIN (SELECT NO, SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES FROM KNOWLEDGE_LIKE_HATE GROUP BY NO) L ON K.NO = L.NO
		WHERE K.DELETE_YN = 'N'
		<if test="!'전체'.equals(type)">AND C.NAME = #{type}</if>
		<if test="keyword != null">AND (K.TITLE LIKE '%${keyword}%' OR K.CONTENT LIKE '%${keyword}%')</if>
		<if test="'recent'.equals(order)">ORDER BY ENROLL_DATE DESC</if>
		<if test="'hit'.equals(order)">ORDER BY K.HIT DESC</if>
		<if test="'reply'.equals(order)">ORDER BY REPLY_CNT DESC</if>
		<if test="'recommend'.equals(order)">ORDER BY LIKES DESC</if>
	</select>
	
	<select id="detail" resultType="map">
		SELECT K.NO, K.TITLE, C.NAME AS CATE_NO, TO_CHAR(K.CONTENT) CONTENT, M.NICK AS WRITER, M.IMG_PATH, TO_CHAR(CAST(K.ENROLL_DATE as DATE),'YYYY.MM.DD')ENROLL_DATE, K.HIT, NVL(SCRAP_CNT,0) SCRAP_CNT, NVL(LIKES,0) LIKES, NVL(HATES,0) HATES, NVL(REPLY_CNT,0) REPLY_CNT
		FROM KNOWLEDGE_QUESTION K
		JOIN MEMBER M ON K.WRITER = M.NO
		JOIN KNOWLEDGE_CATEGORY C ON K.CATE_NO = C.NO
		LEFT JOIN (SELECT Q_NO, COUNT(*) SCRAP_CNT FROM KNOWLEDGE_SCRAP GROUP BY Q_NO) S ON K.NO = S.Q_NO
		LEFT JOIN (SELECT Q_NO, COUNT(*) REPLY_CNT FROM KNOWLEDGE_ANSWER WHERE DELETE_YN = 'N' AND DEPTH = '0' GROUP BY Q_NO) A ON K.NO = A.Q_NO
		LEFT JOIN (SELECT NO, SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES, SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES FROM KNOWLEDGE_LIKE_HATE GROUP BY NO) L ON K.NO = L.NO
		WHERE K.NO = #{qno}
	</select>
	
	<select id="selectTagList" resultType="map">
		SELECT T.NO, T.NAME, K.A_NO, K.TAG_NO FROM KNOWLEDGE_TAG K
		JOIN TAG T ON K.TAG_NO = T.NO
		WHERE K.A_NO = #{qno}
	</select>
	
	<update id="edit">
		UPDATE KNOWLEDGE_QUESTION
		SET CATE_NO = #{cateNo}
		, TITLE = #{title}
		, CONTENT = #{content}
		, MODIFY_DATE = SYSDATE
		WHERE NO = #{no}
	</update>
	
	<update id="updateHit">
		UPDATE KNOWLEDGE_QUESTION SET
		HIT = HIT + 1
		WHERE NO = #{qno}
	</update>
	
	<update id="delete">
		UPDATE KNOWLEDGE_QUESTION SET
		DELETE_YN = 'Y'
		WHERE NO = #{qno}
	</update>
	
	<insert id="writeAnswer">
		INSERT INTO KNOWLEDGE_ANSWER <if test="group == null">VALUES
		(SEQ_KNOWLEDGE_ANSWER_NO.NEXTVAL, #{qno}, #{mno}, #{content}, SYSDATE, 'N', SYSDATE, 'N', '0', SEQ_KNOWLEDGE_ANSWER_NO.NEXTVAL)</if>
		<if test="group != null">VALUES
		(SEQ_KNOWLEDGE_ANSWER_NO.NEXTVAL, #{qno}, #{mno}, #{content}, SYSDATE, 'N', SYSDATE, 'N', '1', #{group})</if>
	</insert>
	
	<select id="answerList" resultType="map">
		SELECT A."GROUP", M.NICK AS WRITER, A.NO, A.Q_NO, TO_CHAR(A.CONTENT) CONTENT, A.SELECT_YN, TO_CHAR(CAST(A.ENROLL_DATE as DATE),'YYYY.MM.DD')ENROLL_DATE, NVL(LIKES,0) LIKES, NVL(HATES,0) HATES FROM KNOWLEDGE_ANSWER A
		JOIN KNOWLEDGE_QUESTION Q ON A.Q_NO = Q.NO
		JOIN MEMBER M ON A.WRITER = M.NO
		LEFT JOIN (SELECT A_NO, SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES, SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES FROM K_CMT_LIKE_HATE GROUP BY A_NO) L ON A.NO = L.A_NO
		WHERE A.DELETE_YN = 'N'
		AND A.DEPTH = '0'
		AND A.Q_NO = #{qno}
		ORDER BY A.NO
	</select>
	
	<select id="commentList" resultType="map">
		SELECT M.IMG_PATH, M.NICK AS WRITER, A.NO, A.Q_NO, TO_CHAR(A.CONTENT) CONTENT, TO_CHAR(CAST(A.ENROLL_DATE as DATE),'YYYY.MM.DD')ENROLL_DATE, NVL(LIKES,0) LIKES, NVL(HATES,0) HATES, A."GROUP" FROM KNOWLEDGE_ANSWER A
		JOIN KNOWLEDGE_QUESTION Q ON A.Q_NO = Q.NO
		JOIN MEMBER M ON A.WRITER = M.NO
		LEFT JOIN (SELECT A_NO, SUM(CASE WHEN STATUS = 'L' THEN 1 ELSE 0 END) AS LIKES, SUM(CASE WHEN STATUS = 'H' THEN 1 ELSE 0 END) AS HATES FROM K_CMT_LIKE_HATE GROUP BY A_NO) L ON A.NO = L.A_NO
		WHERE A.DELETE_YN = 'N'
		AND A.DEPTH = '1'
		AND A."GROUP" = #{agno}
		ORDER BY A.NO
	</select>
	
	<update id="selectReply">
		UPDATE KNOWLEDGE_ANSWER SET
		SELECT_YN = 'Y'	WHERE NO = #{no} AND DEPTH = '0'
	</update>
	
	<insert id="scrap">
		INSERT INTO KNOWLEDGE_SCRAP
		VALUES (#{qno}, #{mno})
	</insert>
	
	<select id="selectLikeHate" resultType="String">
		SELECT STATUS FROM KNOWLEDGE_LIKE_HATE
		WHERE NO = #{qno}
		AND M_NO = #{mno}
	</select>
	
	<select id="selectScrap" resultType="String">
		SELECT Q_NO, M_NO FROM KNOWLEDGE_SCRAP
		WHERE Q_NO = #{qno}
		AND M_NO = #{mno}
	</select>
	
	<select id="mypageList" resultType="map">
		SELECT K.NO, C.NAME AS CATE_NO, K.TITLE, TO_CHAR(K.CONTENT) CONTENT, M.NICK AS WRITER, K.HIT, TO_CHAR(CAST(K.ENROLL_DATE as DATE),'YYYY.MM.DD') ENROLL_DATE, M.IMG_PATH, NVL(REPLY_CNT,0) REPLY_CNT FROM KNOWLEDGE_QUESTION K
		JOIN MEMBER M ON K.WRITER = M.NO
		JOIN KNOWLEDGE_CATEGORY C ON K.CATE_NO = C.NO
		LEFT JOIN (SELECT Q_NO, COUNT(*) REPLY_CNT FROM KNOWLEDGE_ANSWER WHERE DELETE_YN = 'N' AND DEPTH = '0' GROUP BY Q_NO) A ON K.NO = A.Q_NO
		WHERE K.DELETE_YN = 'N'
		AND K.WRITER = #{no}
		ORDER BY K.NO DESC
	</select>
	
	<update id="deleteTag">
		DELETE FROM KNOWLEDGE_TAG
		WHERE A_NO = #{qno}
	</update>
	
	<select id="answerLankList" resultType="map">
		SELECT M.IMG_PATH, M.NICK, COUNT(K.NO) CNT
		FROM KNOWLEDGE_ANSWER K
		JOIN MEMBER M ON K.WRITER = M.NO
		WHERE K.SELECT_YN = 'Y'
		GROUP BY (M.NICK, M.IMG_PATH)
		ORDER BY CNT DESC FETCH NEXT 7 ROWS ONLY
	</select>
	
	
</mapper>