<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="questionMapper">

	<insert id="questionWrite">
  		INSERT INTO QUESTION_BOARD (NO, CATE_NO,WRITER,TITLE,CONTENT,ENROLL_DATE,
  		DELETE_YN,MODIFY_DATE) 
		VALUES(SEQ_QUESTION_BOARD_NO,#{cateNo},#{writer},#{title},
		#{content}, SYSDATE,'N',SYSDATE)
  </insert>
  
  <select id="questionList" resultType="com.learntime.app.question.vo.QuestionVo">
  	SELECT C.NAME, Q.TITLE, Q.ENROLL_DATE
    FROM QUESTION_BOARD Q
    JOIN COMMON_CATEGORY C ON Q.CATE_NO= C.NO
  </select>
  <select id="selectCount">
  	SELECT COUNT(*)FROM QUESTION_BOARD
  </select>
  <select id="boardList" resultType="com.learntime.app.question.vo.QuestionVo">
  	SELECT * FROM QUESTION_BOARD WHERE CATE_NO = #{cateNo}
  </select>
  
  <select id="selectOne" resultType="com.learntime.app.question.vo.QuestionVo">
  	SELECT C.NAME,Q.TITLE, M.NICK, Q.ENROLL_DATE
  	FROM QUESTION_BOARD Q JOIN COMMON_CATEGORY ON Q.CATE_NO = C.NO
  	JOIN MEMBER M ON M.NO = Q.WRITER 
  </select>
	
	
</mapper>