<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skinMapper">
	<insert id="skinWrite">
	INSERT INTO ITEM
	VALUES(SEQ_ITEM_NO.NEXTVAL,#{name},#{info},#{className},#{classStyle},#{price},#{imgName},'N')
	</insert>
	
	<select id="skinList" resultType="SkinVo">
	SELECT NO,NAME,INFO,CLASS_NAME,CLASS_STYLE,PRICE,IMG_PATH AS IMG_NAME,DELETE_YN
	FROM ITEM
	<trim prefix="WHERE" prefixOverrides="AND">
	 <if test="keyword != null and keyword != ''">
		${category} LIKE '%${keyword}%'
		</if>
		<if test="deleteYn != null and deleteYn != ''">
		AND DELETE_YN = '${deleteYn}'
		</if>
	</trim>	
	
	</select>
	
	<select id="skinEdit" resultType="SkinVo">
	SELECT NO,NAME,INFO,CLASS_NAME,CLASS_STYLE,PRICE,IMG_PATH AS IMG_NAME,DELETE_YN
	FROM ITEM
	WHERE NO=#{no}
	</select>
	
	<update id="skinAble">
	UPDATE ITEM
	SET DELETE_YN='N'
	WHERE NO=#{no}
	</update>
	
	<update id="skinDelete">
	UPDATE ITEM
	SET DELETE_YN='Y'
	WHERE NO=#{no}
	</update>
	
	<update id="skinEditUpdate">
	UPDATE ITEM
	SET NAME=#{name},
	INFO=#{info},
	CLASS_NAME=#{className},
	CLASS_STYLE=#{classStyle},
	PRICE=#{price},
	IMG_PATH=#{imgName}
	WHERE NO=#{no}
	</update>
	
	
	<select id="skinListMember" resultType="SkinVo">
	SELECT NO,NAME,INFO,CLASS_NAME,CLASS_STYLE,PRICE,IMG_PATH AS IMG_NAME,DELETE_YN
	FROM ITEM
	AND DELETE_YN = 'N'
	
	</select>
	
	
	<select id="skinModal" resultType="SkinVo">
	SELECT NO,NAME,INFO,CLASS_NAME,CLASS_STYLE,PRICE,IMG_PATH AS IMG_NAME,DELETE_YN
	FROM ITEM
	WHERE NO=#{no}
	</select>
	
	
	<insert id="skinBuy">
	INSERT INTO MEMBER_ITEM(ITEM_NO,M_NO)
	VALUES(#{ITEM_NO},#{M_NO})
	</insert>
	
	<update id="minusToken">
	UPDATE MEMBER
	SET HOLD_TOKEN=HOLD_TOKEN-#{tokenPrice}
	WHERE NO=#{M_NO}
	</update>
	
	<select id="myskin" resultType="SkinVo">
	SELECT MI.ITEM_NO AS NO,I.NAME,I.INFO,I.CLASS_NAME,I.CLASS_STYLE,I.PRICE,I.IMG_PATH AS IMG_NAME,I.DELETE_YN
	FROM MEMBER_ITEM MI
	JOIN ITEM I ON I.NO=MI.ITEM_NO
	WHERE MI.M_NO=#{no}
	</select>
	
</mapper>