<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyMapper">
	<insert id="insertGroupInfo">
		INSERT INTO RECRUIT_GROUP
		(
			NO
			, WRITER
			, G_TYPE_NO
			, G_WAY_NO
			, G_PERIOD_NO
			, NUMBER_PEOPLE
			, TECH_STACK_NO
			, START_DATE
			, START_TIME
			, END_TIME
			, TITLE
			, INTRO
			, PLACE
			, ADDRESS
			, HIT
			, CLOSING_YN
			, DELETE_YN
			, MODIFY_DATE
			, ENROLL_DATE
		)
		VALUES
		(
			SEQ_RECRUIT_GROUP_NO.NEXTVAL
			, '1'
			, #{gTypeNo}
			, #{gWayNo}
			, #{gPeriodNo}
			, #{numberPeople}
			, #{techStackNoList}
			, #{startDate}
			, #{startTime}
			, #{endTime}
			, #{title}
			, #{intro}
			, #{place}
			, #{address}
			, '0'
			, 'N'
			, 'N'
			, SYSDATE
			, SYSDATE

		)
	</insert>
	<insert id="insertGroupQuestion">
		INSERT INTO RECRUIT_QUESTION (NO, G_NO, QUESTION, DELETE_YN, MODIFY_DATE)
		    SELECT SEQ_RECRUIT_QUESTION_NO.NEXTVAL, A, B, C, D FROM 
		    (
		    <foreach collection="array" item="arr" separator="UNION ALL">
		    	SELECT (SELECT NO FROM RECRUIT_GROUP ORDER BY NO DESC OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY) AS A, #{arr} AS B,'N' AS C,SYSDATE AS D FROM DUAL
		    </foreach>
		    )
	</insert>
	
	<insert id="insertGroupTechStack">
		INSERT INTO GROUP_TECH_STACK (G_NO, TECH_STACK_NO)
		    SELECT A, B FROM 
		    (
		    <foreach collection="array" item="arr" separator="UNION ALL">
		    	SELECT (SELECT NO FROM RECRUIT_GROUP ORDER BY NO DESC OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY) AS A, #{arr} AS B FROM DUAL
		    </foreach>
		    )
	</insert>
	
	<insert id="insertCommonTag">
		INSERT INTO TAG (NO, NAME)
			SELECT SEQ_TAG_NO.NEXTVAL, A FROM
		    (
		    <foreach collection="array" item="arr" separator="UNION ALL">
		    	SELECT #{arr} AS A FROM DUAL WHERE NOT EXISTS (SELECT NAME FROM TAG WHERE NAME = #{arr})
		    </foreach>
		    )
	</insert>
	
	<insert id="insertGroupTag">
		INSERT INTO GROUP_TAG (GROUP_NO, TAG_NO)
			SELECT (SELECT NO FROM RECRUIT_GROUP ORDER BY NO DESC OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY), A FROM
		    (
		    <foreach collection="array" item="arr" separator="UNION ALL">
		    	SELECT (SELECT NO FROM TAG WHERE NAME = #{arr}) AS A FROM DUAL
		    </foreach>
		    )
	</insert>

</mapper>