#calendar-wrap *:not(.header){
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
#calendar-wrap{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 550px;
    margin : 50 px;
}

.header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px;
    margin-bottom: 20px;
}

.year-month{
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.nav{
    display: flex;
}

.nav-btn{
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}
.go-prev,
.go-next{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.go-prev{
    border-radius: 5px 0 0 5px;
    background-color: #b4e0bf;
    color: white;
}

.go-next{
    border-radius: 0 5px 5px 0;
    background-color: #b4e0bf;
    color: white;
}

.go-today{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-left: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    color: #969696;
}

.days{
    display: flex;
    margin: 25px 0 10px;
    height: 20px;
}

.day{
    width: calc(100% / 7);
    text-align: center;
}

.dates{
    display : flex;
    flex-flow : row wrap;
    height: 370px;
    border-top: 1px solid #fbfbfb;
    border-right: 1px solid #fbfbfb;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-left: 1px solid #fbfbfb;
    border-bottom: 1px solid #fbfbfb;
    text-align: center;
}


.day:nth-child(7n+1),
.date:nth-child(7n+1){
    color: red;
}

.day:nth-child(7n),
.date:nth-child(7n){
    color: blue;
}

.other{
    opacity: 0.2;
}

.today {
    position: relative;
    color: rgb(17, 169, 29);
    font-size: 20px;
}

.back-green{
    background-color: #eafff1;
}