#main-wrap{
    width: 1160px;
    position: relative;
    margin: auto;
    padding-top: 40px;
}

#board-banner{
    width: 100%;
    /* background-image: url("/app/resources/img/mentorBanner1.png"); */
    background-color: #333b3d;
    height: 200px;
}

* {
    font-family: "Noto Sans KR", sans-serif;
  }

#banner-text-box{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

#banner-text-box>span:first-child{
    margin-top: 40px;
    font-size: 25px;
    font-weight: 700;
}

#banner-text-box>span:nth-child(2){
    margin-top: 8px;
    font-size: 16px;
}

#banner-text-box>span:nth-child(3){
    margin-top: 30px;
}

#banner-text-box a{
    font-size: 16px;
    color: white;
    cursor: pointer;
}


#side-wrap,
#content-wrap{
    display: inline-block;
}

#side-wrap{
    position: sticky;
    top: 80px;
    width: 240px;

}
#content-wrap{
    margin-left: 20px;
    width: 880px;
    vertical-align:top;
    margin-top: 15px;
    
    /* flex-direction: column;
    align-items: center; */
}
#side-wrap>div{
    margin-top: 15px;
}

/* 메인 */
#mentoring-list-box{
    display: flex;
    width: 880px;
    height: auto;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: flex-start;
    margin-bottom: 100px;
}

.mentoring{
    width: 180px;
    box-shadow: 2px 2px 2px rgb(238, 238, 238);
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 8px;
}
.mentoring:hover{
    background-color: #fdfffd;
    cursor: pointer;
    box-shadow: 2px 7px 7px rgb(238, 238, 238);
    transform: translateY(-8px);

    transition: all 0.3s ease-out;
}

.mentoring-title{
    height: 40px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#modal-mentoring-title{
    font-weight: 600;
    margin-bottom: 20px;
}

.mentoring-title>span{
    display: -webkit-box;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
      
}

#modal-mentoring-content p{
    line-height: 18px;
    font-size: 14px;
}

#modal-mentoring-content h3{
    margin: 20px 0 20px 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    
}



.mentoring-job,
.mentoring-career,
.mentoring-nacara{
    margin-top: 5px;
    font-size: 14px;
    color: #7d7d7d;
}

.nacara-input{
    color: #003502;
}

.star-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 10px 0;
}

.star-score{
    margin-right: 20px;
    vertical-align: center;
}

.mentor{
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    
}
.writer-img{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    overflow: hidden;
}
.writer-img>img{
    height: 100%;
    width: 100%;
}
.mentor>span{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
}

/* 사이드 */
#search-box{
    display: flex;
    flex-direction: row;

}
#search-area{
    width: 190px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #5ecc80;
}

#search-btn-area{
    width: 40px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: #5ecc80;
    border: 2px solid #5ecc80;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#sorting-box>select{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #5ecc80;
    padding-left: 10px;
    outline: none;
    font-weight: 600;
}

#category-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 210px;
    height: 20px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;
    color: #444444;
}
#category-title>span{
    margin-right: 5px;
}

#category-content{
    width: 210px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: 2px solid #d9d9d9;
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    color: #666666;
}
.category>input[type="checkbox"]{
    display: none;
}
.category>label{
    margin-left: 5px;
}
/* 임시 */
input[type='checkbox'] + .stylish-checkbox {
    width: 16px;
    height: 16px;
    top: 1px;
    border: 2px solid #7d7d7d;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type='checkbox']:checked + .stylish-checkbox,
  input[type='checkbox']:checked + .stylish-checkbox::after {
      content: '✔';
      padding: 0;
      margin: 0;
      color: #5ecc80;
  }

.category>input[type="checkbox"]:checked{
    
    background-color: #5ecc80;
}

#filter-reset{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666666;
    font-size: 14px;
}

#filter-reset>span:hover{
    cursor: pointer;
}

/* paging */
#paging{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 40px;  
    margin-bottom: 100px;
    width: 400px;
  }
  
  .paging-btn{
    height: 25px;
    width: 25px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    color: #535353;
    cursor: pointer;
  }
  .paging-btn:hover{
    background-color: #58c079;
    color: white;
  }
  
  #next-btn{
    width: 40px;
  }


  /* 아이콘 */
.refresh{
    font-size: 20px;
    color: #666666;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.search{
    color: white;
    font-size: 24px;
}

.filter{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}



.star-box .star{
    color: rgb(255, 204, 0);
    font-size: 30px;
    margin-left: -5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.star-box .star-fill{
    color: rgb(255, 204, 0);
    font-size: 30px;
    margin-left: -5px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}





/* 모달달 */
.background {
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    display: flex;
    z-index:30;
}
.foreground {
    position: relative;
    top: -80px;
    text-align: center;
    height: 530px;
    width: 600px;
    margin: auto;
    background: white;
    border-radius: 8px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    overflow-y: auto;
}
.foreground::-webkit-scrollbar{
    display: none;
}

.show {
    visibility: visible;
    opacity: 1;
}

#application-btn{
    background-color: #58c079;
    color: white;
    
    position: relative;
    left: 480px;
}

.modal-btn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    cursor: pointer;

}

.mentoring-modal-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
}

.close-icon{
    cursor: pointer;
}

.modal-info-box{
    margin: 10px 0;
    border: 2px solid #5ecc80;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#modal-mentor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 566px;
}

#modal-mentor div{
    font-size: 15px;
}

.modal-nick{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.modal-mentor-nick{
    margin-left: 5px;
}

#modal-job,
#modal-career{
    font-size: 12px;
    font-weight: 400;
    color: #7d7d7d;
    margin-left: 30px;
    margin-top: 5px;
}

.modal-profile-img{
    height: 25px;
    width: 25px;
    border-radius: 25px;
}

#modal-metoring-title{
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 20px;
}

p{
    text-align: left;
    font-size: 15px;
}

/* 후기 */
.modal-review-box{
    padding-bottom: 15px;
    width: 100%;
}
.modal-review-box:not(:first-child){
    height: auto;
    padding-top: 15px;
}
.modal-review-box:not(:last-child){
    border-bottom:1px solid #d3d3d3;
}

.modal-review-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.star{
    color: rgb(255, 204, 0);
    font-size: 30px;
    margin-left: -5px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.modal-nick>span{
    margin-left: 5px;
}
.modal-nick>a:hover{
   text-decoration: underline;
}
   

.modal-review-box p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;

    line-height: 18px;

}

.more-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    
    color: #7d7d7d;
    font-size: 14px;
}

#time-select-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#time-select-box>select{
    width: 150px;
    height: 30px;
    border: 1px solid #58c079;
    border-radius: 3px;
}

.sm-box{
    padding: 5px 15px;
}

.sm-box>input[type="text"]{
    outline: none;
    border: none;
    font-size: 14px;
    width: 100%;
}

.modal-btn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pre-btn{
    background-color: #fdfffd;
    border: #aeaeae 1px solid;
    color: #aeaeae;
    margin-left: 350px;
}
.next-btn{
    background-color: #58c079;
    border: #58c079 1px solid;
    color: white;
    width: 120px;
}

/* 세번째 모달 */
#modal-seletedmentor{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-top: 20px;
    padding-bottom: 150px;

    border-bottom: 2px solid #58c079;

}
#modal-seletedmentor>div{
    text-align: left;
    line-height: 35px;
    font-size: 14px;
}

.grid-title{
    font-weight: 600;
}

#pay-info-box{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pay-agree-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

#pay-modal{
    position: relative;
    top: -80px;
    text-align: center;
    height: 250px;
    width: 300px;
    margin: auto;
    background: white;
    border-radius: 8px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    overflow-y: auto;
}

#pay-modal-title{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 2px solid #aeaeae;
    text-align: left;
}

.pay-btn{
    border: 2px solid #aeaeae;
    border-radius: 5px;
    height: 35px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 31px;
    color: #aeaeae;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pay-btn:hover{
    background-color: #d7d7d7;
    color: rgb(5, 30, 5);
    cursor: pointer;
    
}

.pay-btn>img{
    height: 25px;
}

.payment-icon{
    font-size: 25px;
    margin: 0 17.5px;
}

.pay-btn>span:last-child{
    width: 200px;
}

.hidden{
    display: none;
}

.no-cmt{
    margin: auto;
    color: #666666;
    font-size: 16px;
    width: 566px;
    margin: 30px 0 30px 0;
}

.review-content>p{
    width: 100%;
}

#search-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#search-area>input{
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 6px;
}

.disabled,
.other{
    background-color: #f7f7f7;
}

.mentoring-title{
    cursor: pointer;
}



