/* 공통css */

#learntime-main {
  box-sizing: border-box;
}

.middle {
  display: flex;
  justify-content: center;
}

.bold700 {
  font-weight: 700;
}

.bold900 {
  font-weight: 900;
}

.main-color {
  color: #5ecc80;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  color: rgba(0, 0, 0, 0.9);
}

.blue {
  color: rgb(49, 137, 252);
}

.relative {
  position: relative;
}

/* 배너 */

.main-banner img {
  width: 100%;
  height: 305px;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
}

/* 스터디/프로젝트 제목*/

.main-study,
.main-qna {
  width: 1200px;
  margin-top: 86px;
}

.main-qna {
  margin-bottom: 86px;
}

.main-study-title-area,
.main-qna-title-area {
  display: flex;
  margin-bottom: 60px;
}

.main-study-title-area div:first-child,
.main-study-title-area div:last-child {
  width: 10%;
}

.main-study-title-area div:nth-child(2) {
  width: 80%;
}

.main-qna-title-area div:first-child,
.main-qna-title-area div:last-child {
  width: 10%;
}

.main-qna-title-area div:nth-child(2) {
  width: 80%;
}

.main-study-title span {
  font-size: 25px;
}

.main-qna-title span {
  font-size: 25px;
}

.main-study-title span:first-child {
  /* width: 143px; */
}

/* 더보기 */

.main-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 스터디/프로젝트 리스트 */
.main-study-detail-list {
  display: flex;
  justify-content: space-between;
}

.main-study-detail {
  display: block;
  /* width: 250px; */
  height: 300px;
  border: 2px solid #5ecc80;
  border-radius: 7px;
  padding: 30px 27px 19px 27px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

/* 시작예정일, 좋아요수 */

.main-study-detail__date-like {
  font-size: 14px;
}

.like-icon {
  margin-right: 5px;
}

.soft-gray {
  color: rgb(164, 164, 164);
}

/* 제목, 해시태그, 기술스택 */

.main-study-detail h1 {
  font-size: 20px;
  margin: 20px 0px;
  letter-spacing: -1px;
  line-height: 23px;
}

.study-tag {
  margin-right: 5px;
  font-size: 14px;
}

.study-tech-list {
  margin-top: 18px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(174, 174, 174, 0.4);
}

.study-tech img {
  width: 40px;
  height: 40px;
}

.study-tech {
  margin-right: 10px;
}

/* 프사, 닉네임, 조회수, 댓글수, 스크랩수 */

.user-profile img {
  width: 45px;
  height: 45px;
}

.user-profile {
  margin-left: 5px;
  margin-right: 20px;
}

.user-nick {
  font-size: 17px;
  margin-bottom: 12px;
}

.view-cmt-scrap-list {
  font-size: 14px;
}

.view-cmt-scrap-list span {
  margin-left: 4px;
  margin-right: 10px;
}

/* 슬라이더 버튼 */

.slick-prev,
.slick-next {
  position: absolute;
  top: 130px;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 0 5px 13px -7px rgba(0, 0, 0, 0.5);
}

.slick-prev i,
.slick-next i {
  color: gray;
}

.slick-prev {
  left: -12px;
}

.slick-next {
  right: -12px;
}

/* 지식인 */

.qna-btn {
  width: 270px;
  height: 160px;
  background-color: #5ecc80;
  border-radius: 10px;
  box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.5);
  padding: 25px 25px 20px 25px;
  box-sizing: border-box;
}

.qna-btn div {
  text-align: right;
  width: 100%;
  color: white;
  font-size: 28px;
  line-height: 34px;
}

.qna-btn img {
  width: 70px;
  height: 70px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qna-btn:first-child img {
  position: relative;
  bottom: 17px;
  left: -3px;
  width: 68px;
  height: 65px;
}

.qna-btn:nth-child(3) img {
  position: relative;
  bottom: -3px;
  width: 68px;
  height: 65px;
}

.qna-btn:last-child img {
  width: 55px;
  height: 45px;
}

.qna-btn:first-child {
  background-color: #5ecc80;
}

.qna-btn:nth-child(2) {
  background-color: #77d695;
}

.qna-btn:nth-child(3) {
  background-color: #50c6e1;
}

.qna-btn:last-child {
  background-color: #50c6e1cb;
}

.qna-btn-list {
  margin-bottom: 40px;
}

/* 답변을 기다리는 질문 */

.main-qna-detail-section {
  margin-left: 5px;
  /* width: 570px; */
}

.main-qna-detail__title {
  font-size: 22px;
  margin-left: 15px;
}

.main-qna-detail__header {
  padding-bottom: 13px;
  border-bottom: 1px solid #5ecc80;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.qna-category {
  padding: 15px 30px 0px 3px;
  border-right: 1px solid rgb(221, 221, 221);
  margin-top: 8px;
  padding-bottom: 150px;
}

.qna-category li {
  margin-bottom: 25px;
  color: rgb(81, 81, 81);
  display: flex;
  align-items: center;
}

.qna-category li i {
  margin-right: 8px;
  margin-left: 3px;
}

.qna-category img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.qna-content-left {
  width: 456px;
}

.qna-content-right {
  width: 570px;
}

.qna-content-left li {
  width: 460px;
  height: 120px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qna-content-detail img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.qna-content-right li {
  width: 265px;
  height: 120px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qna-content-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.qna-content-title span:first-child {
  font-size: 20px;
  margin-right: 5px;
}

.main-qna-detail__left {
  width: 570px;
  padding-bottom: 5px;
  border-bottom: 1px solid #5ecc80;
  margin-right: 50px;
}

/* 지식인 오른쪽 부분 */

.main-qna-detail__right {
  width: 570px;
  padding-bottom: 5px;
  border-bottom: 1px solid #5ecc80;
}

.border-top {
  border-top: 1px solid rgb(218, 218, 218);
}

.cmt-date div {
  margin-right: 13px;
  font-size: 13px;
}

.hit-cmt div {
  margin-right: 5px;
  font-size: 13px;
}

/* 지식인 왼쪽 슬라이더 버튼  */

.slick-prev2,
.slick-next2 {
  position: absolute;
  top: -30px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: white;
}

.slick-prev2 i,
.slick-next2 i {
  color: gray;
  font-size: 15px;
}

.slick-prev2 {
  left: 410px;
}

.slick-next2 {
  right: 0px;
}

/* 지식인 오른쪽 슬라이더 버튼  */

.slick-prev3,
.slick-next3 {
  position: absolute;
  top: -30px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: white;
}

.slick-prev3 i,
.slick-next3 i {
  color: gray;
  font-size: 15px;
}

.slick-prev3 {
  left: 520px;
}

.slick-next3 {
  right: 5px;
}

/* 멘토링 배너 */

.main-mentor-banner {
  width: 100%;
  height: 550px;
  background-color: #1c512c;
  background-image: url(../../../resources/img/study/mentor-banner.png);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.main-mentor-banner div:first-child {
  margin-top: 110px;
  font-weight: 100;
  font-size: 20px;
}

.main-mentor-banner div:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 50px;
}

.main-mentor-banner div:nth-child(3),
.main-mentor-banner div:nth-child(4) {
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 10px;
}

.main-mentor-banner a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 66px;
  border: 1px solid white;
  font-size: 20px;
}
.main-mentor-banner a:first-child {
  margin-right: 20px;
}

.main-mentor-banner-list {
  margin-top: 60px;
}

/* 메인 배너 아래부분 css */

.the-lower-part-of-main {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
/* 레이아웃 */
.the-upper {
  width: 100%;
  height: 600px;
}
.the-middle {
  width: 100%;
  height: 600px;
}
.the-lower {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
}
.mentoring-title {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.mentoring-content {
  width: 100%;
  /* height: 75%; */
  display: flex;
  align-items: center;
  margin-top: 10px;
}
/* 멘토링 타이틀 */
.mentoring-title-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 700;
}
.mentoring-content-more {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 50px;
  /* font-weight: 700; */
}
#color-change {
  color: #5ecc80;
}

/* 슬라이드 */

.slice-as-three {
  width: 100%;
  height: 350px;
  /* display: grid;
  grid-template-columns: 1fr 8fr 1fr; */
  align-items: center;
}
.prevBtn,
.nextBtn {
  position: absolute;

  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 0 5px 13px -7px rgb(0 0 0 / 50%);
}
.container {
  width: 1200px;
  height: 350px;
  overflow: hidden;
}
.prevBtn {
  top: 133px;
  left: -13px;
}
.nextBtn {
  top: 133px;
  right: -10px;
}

.prevBtn i,
.nextBtn i {
  color: gray;
}

.container-slide {
  position: relative;
  width: 1040px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  transition: left 0.5s ease-out;
  margin-left: 10px;
}
.slide {
  width: 280px;
  height: 300px;
  /* margin: 13px; */
  float: left;
  border: 2px solid #5ecc80;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-box {
  width: 225px;
  height: 290px;
}

#mentoring-ad1,
#mentoring-ad2,
#mentoring-ad3,
#mentoring-ad4 {
  width: 100%;
  /* height: 25%; */
}
#mentoring-ad1 {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  /* align-items: flex-end; */
  margin-top: 27px;
  /* justify-content: center; */
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#mentoring-ad2 {
  margin-top: 20px;
  margin-bottom: 13px;
  padding-bottom: 20px;
  font-size: 14px;
  color: rgb(152, 152, 152);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border-bottom: 1px solid gray;
  line-height: 19px;
}
#mentoring-ad3 {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 3px;
}
#mentoring-ad4 {
  padding-top: 10px;
  /* display: flex; */
  color: rgb(151, 151, 151);
  font-size: 14px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#mentoring-ad4 div:first-child {
  margin-bottom: 10px;
}

#mentoring-ad4 div:last-child {
  margin-bottom: 20px;
}

#border-box1,
#border-box2,
#border-box3,
#border-box4 {
  width: 25%;
  height: 100%;
}
#border-box1 {
  display: flex;
  align-items: center;
}
#border-box2 {
  display: flex;
  align-items: center;
}
#border-box3 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#border-box4 {
  display: flex;
  align-items: center;
}
#inner-box1 {
  width: 45px;
  height: 45px;
  background-image: url("/app/resources/img/main/Ellipse\ 2.png");
  background-size: 45px;
}
#inner-box2 {
  width: 50px;
  height: 25px;
  text-align: center;
  display: flex;
}
#inner-box3 {
  width: 43px;
  height: 22px;
  border: 1px solid #5ecc80;
  border-radius: 20px;
  color: #5ecc80;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/app/resources/img/main/Frame\ 23.png");
  background-size: 50px;
  text-align: center; */
}
#inner-box4 {
  width: 50px;
  height: 25px;
  /* background-image: url("/app/resources/img/main/Frame\ 20.png");
  text-align: center; */
}

/* 스터디 제목 부분 */

.studying-title {
  width: 100%;
  height: 25%;

  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.studying-content {
  width: 100%;
  height: 75%;

  display: flex;
  align-items: center;
}
.studying-title-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}
.studying-content-more {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 50px;
  font-weight: 700;
}

/* 슬라이드 */

.slice-as-three-sec {
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
}
.prevBtn-sec,
.nextBtn-sec {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.container-sec {
  width: 1040px;
  height: 350px;
  overflow: hidden;
}
.prevBtn-sec {
  background-image: url("/app/resources/img/main/Group\ 28.png");
  background-size: 80px;
}
.nextBtn-sec {
  background-image: url("/app/resources/img/main/Ellipse\ 108.png");
  background-size: 80px;
}

.container-slide-sec {
  position: relative;
  width: 1040px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  transition: left 0.5s ease-out;
}
.slide-sec {
  width: 230px;
  height: 300px;
  margin: 13px;
  float: left;
  border: 2px solid gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.java-photo {
  width: 230px;
  height: 200px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.java-content {
  width: 230px;
  height: 100px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-box {
  width: 210px;
  height: 60px;
  display: flex;
}
.profile-photo {
  width: 60px;
  height: 60px;
}
.java-title {
  width: 150px;
  height: 60px;
  margin-left: 10px;
}
.heart {
  width: 50px;
  height: 30px;
  position: relative;
  top: 30px;
  right: 50px;
}
/* 공지사항 왼쪽*/
.notice {
  width: 100%;
  height: 500px;
  display: flex;
}
.notice-list {
  width: 598px;
  height: 495px;
  border: 5px solid #5ecc80;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-per-person {
  width: 597px;
  height: 495px;
  border: 5px solid #5ecc80;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ecc80;
}

.lists {
  width: 548px;
  height: 445px;
}
.list {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid gray;
}
#boldline {
  border-bottom: 5px solid gray;
  display: flex;
}
.notice-title {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
}
.arrow {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#list-one,
#list-two,
#list-three,
#list-four,
#list-five {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

/* 공지사항 오른쪽 */

.faq-div {
  width: 497px;
  height: 295px;
}
.faq-title {
  width: 100%;
  height: 120px;
  color: white;
  font-size: xx-large;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 40px;
  text-align: center;
}
.faq-content {
  width: 100%;
  height: 50px;
  font-size: small;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-box {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: center;
}
#personal-faq-box {
  width: 165px;
  height: 65px;
  background-color: white;
  color: #5ecc80;
  font-size: larger;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
