@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
* {
  font-family: "Noto Sans KR", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.main-color {
  color: #5ecc80;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

.no-cursor {
  cursor: not-allowed;
}

.red {
  color: #d90000;
}
