

.red{color:red;}

.blue{color:blue;}


.serif{font-family: 'Noto Sans KR', sans-serif;}

.italic{font-style: italic;}

.bold{ font-weight: 700 !important; }.bold1{font-weigth:700;}.bold1{font-weigth:700;}.bold{font-weigth:700;}.bold{font-weigth:700;}.gold{color:#454545;}.bold2{font-weigth:700;}.gold{color:#454545;}.gold{color:#454545;}