@charset "UTF-8";

.list-main{
    width:1200px;
    height:auto;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    
}
/* 배너 */
.banner-section{
    
    height: 180px;
    background-color: #343B3D;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;



}

.banner{
    margin-right: 100px;
}

#banner-title1{
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-align: right;
    margin-bottom:20px;
}

#banner-title2{
    color: white;
    font-size: x-large;
    font-weight: 900;
}
.notice-detail-list{
  
    height:750px;
    display: grid;
    grid-template-rows:100px 100px 50px 400px 100px;
    
}
.notice-sign{
    width: 100%;
    height: 100%;
    display: flex;

}
.line1{
    width: 100px;
    height: 100%;

}
.name-notice{
    width: 200px;
    height: 100%;
    font-size: xx-large;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line2{
    width: 890px;
    height: 100%;
}
.line-a{
    width: 100%;
    height: 50%;
    border-bottom:5px solid gray;
}
.line-c{
    width: 100%;
    height: 50%;
    border-bottom:5px solid gray;
}

.gathering-divs{
    width: 1200px;
    height: 650px;
    display: flex;
    flex-direction: row;
   
}
.cate-select-box{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.cate-selection{
    width: 150px;
    height: 200px;
    border: 3px solid lightgray;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

}
.cate-pin{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid lightgray;
    font-size: large;
    font-weight: 600;
    background-color: lightgray;
    text-align: center;
    line-height: 80px;
}
.activated{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: larger;

}
.empty1{
    width: 100%;
    height: 50px;
}
.notice-cate-content{
    width: 900px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.notice-title-date{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    

}
.category-notice{
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 130px;
    display: flex;
    align-items: flex-end;

    
}
.title-notice{
    width:470px;
    height: 50px;
    text-align: center;
    line-height: 130px;
    border-bottom:3px solid lightgray;
}
.date-notice{
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 130px;
    border-bottom:3px solid lightgray;

}
.notice-content{
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
    

    
}

.backBtn{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.btn-to{
    width: 100px;
    height: 50px;
    background-color: #5ECC80;
    color: white;
    font-weight: 600;
    border-radius: 1rem;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
}

#categories{
    width: 120px;
    height: 50px;
    border: 3px solid lightgray;
    font-size: larger;
    text-align: center;
    
}

