@charset "UTF-8";


#content-wrap{
    background-color: #efefef;
}
.main-notice{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.notice-title-admin{
    width: 1200px;
    height: 300px;
    display: flex;
    align-items: center;
}
.notice-admin-Btns{
    width: 1200px;
    height: 100px;
  
 
}
.notice-list{
    width: 1200px;
    height: 1000px;
   

}
.page-notice{
    width: 1200px;
    height: 200px;
}

/* 타이틀 */
.notice-sign-m{
    width: 1200px;
    height: 100px;
    display: flex;


}
.line1-m{
    width: 150px;
    height: 100px;
   

}
.name-notice-m{
    width: 150px;
    height: 100px;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    line-height: 100px;

}
.line2-m{
    width: 900px;
    height: 100px;
   

}
.line-a-m{
    width: 100%;
    height: 50px;
    border-bottom: 5px solid gray;
}
.line-b-m{
    width: 100%;
    height: 50px;
    border-bottom: 5px solid gray;
    
}
/* 버튼 */
.noticeBtn-etc{
    width: 100%;
    height: 100px;
    display: flex;
}
.setting-Btn{
    width: 300px;
    height: 100%;
   
}
.Btns-noticeAd{
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.activate-Btn{

    width: 100px;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 1rem;
    color: #5ECC80;
    background-color: white;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;



}
.deactivate-Btn{
    width: 100px;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 1rem;
    color: #5ECC80;
    background-color: white;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;


}

.delete-notice-Btn{
    width: 100px;
    height: 50px;
    border-radius: 1rem;
    background-color: #5ECC80;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;


}
.activate{
    border:none;
    color: #5ECC80;
    background-color: white;
    font-size: larger;
    font-weight: 600;
    
}
.deactivate{
    border:none;
    color: #5ECC80;
    background-color: white;
    font-size: larger;
    font-weight: 600;
   
}
.delete-lists{
    border:none;
    color: white;
    background-color: #5ECC80;
    font-size: larger;
    font-weight: 600;
   
}

.setting-Btn{
    display: flex;
    align-items: flex-end;
}
/* 리스트 */

.notice-list-twoColored{
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;

}
.notice-group{
    width: 100%;
    height: 540px;
    border-top: 3px solid lightgray;

}
.notice-green{
    width: 100%;
    height: 90px;
    border-top:2px solid lightgray;
    border-bottom: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    background-color: #e9fde9;
}
.notice-white{
    width: 100%;
    height: 90px;
    border-bottom: 3px solid lightgray;
    display: flex;
    flex-direction: column;
}

.admin-id-etc{
    width: 100%;
    height: 20px;
    display: flex;
    margin-top: 10px;
    

}
.admin-id{
    width: 100px;
    height: 100%;
    margin-left: 20px;
   
  

}
.enroll-date{
    width: 200px;
    height: 100%;
  

}
.written-notice{
    width:1200px;
    height: 45px;
    display: flex;
    margin-top: 10px;

}
.radioBtn-notice{
    width: 50px;
    height: 45px;
    line-height: 45px;
}
.cate-notice{
    width: 100px;
    height: 100%;
    line-height: 45px;
    font-weight: 600;
    font-size: x-large;
}
.posted-notice{
    width: 1050px;
    height: 100%;
    line-height: 45px;
    font-weight: 600;
    font-size: x-large;

}
.views-etc{
   
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;

}
.views{
    width: 70px;
    height: 100%;
}
.replies{
    width: 70px;
    height: 100%;

}
.radioBtn{
    width: 30px;
    height: 30px;
}



