<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{yyyy년MM월dd일 HH시mm분ss초}] %m%n" />
		</layout>
	</appender>
	
	<!-- FileAppender (xml) -->
	<appender name="faxml" class="org.apache.log4j.FileAppender">
		<param name="file" value="D:/dev/logs/falog.xml"></param>
		<param name="append" value="true"></param>
		<layout class="org.apache.log4j.xml.XMLLayout"/>
	</appender>
	
	<!-- FileAppender (txt) -->
	<appender name="fatxt" class="org.apache.log4j.FileAppender">
		<param name="file" value="D:/dev/logs/falog.txt"></param>
		<param name="append" value="true"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{yyyy년MM월dd일 HH시mm분ss초}] %m%n" />
		</layout>
	</appender>
	
	
	<!-- 
		ConversionPattern 
		%p : priority
		%c : 클래스 // category
		%m : 메세지
		%n : 개행문자 (줄바꿈)
		%d : date
	 -->

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
